* {box-sizing: border-box}
		body,html{
		margin:0px;
		padding:0px;
		}
@media (max-width: 330px) {
	.dropdown-content {
		display: inline-flex;
	}
	.dropdown-content a {
		display: flex;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #f1f1ff;
		color: rgba(0, 0, 0, 0.842);
		padding: 1.67vw;
		text-decoration: none;
		font-weight: bold;
		font-size: 2.5vw;
		min-width: 22.5vw;
	}
	
	.dropdown-content a:hover {background-color: #ddd;}
	
	#logo{
		margin-left: 90.8vw;
		position: absolute;
		width: 8.4vw;
		height: 7.84vw;
	}
	.sum{
		text-align: center;
		color: white;
		font-size: 5vw;
		font-weight: bold;
	}
	
	.column{
		margin-left: 80px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	
	.next {
		  right: 24vw;
		  border-radius: 0.67vw 0 0 0.67vw;
	}
	
	#imag {
		width: 50vw;
		height: 50vw;
	  }
	
	#imag{
		background-color: whitesmoke;
		border: 2px solid #34495e;
		padding: 5px;
		text-align: center;
		border-radius: 15px; 
		-moz-box-shadow: 0 0 50px #3498db;
		-webkit-box-shadow: 0 0 50px #3498db;
		box-shadow: 0 0 30px #3498db;
	}
	
	/* Caption text */
	.text {
		  color: #f2f2f2;
		  font-size: 2.5vw;
		  padding: 1.4vw 2vw;
		  position: absolute;
		  bottom: 1.4vw;
		  width: 50vw;
		  text-align: center;
		font-weight: bold;
		background-color: rgba(0,0,0,0.5);
		  border-radius: 0.84vw;
	}
	
	h4{
		margin-left: 20vw;
		margin-bottom: 3vw;
		margin-top: 0vw;
		padding: 0vw;
		font-size: 3vw;
		font-weight: bolder;
	}
	
	#dot{
		margin-left: 50px;
	}
	
	#dotss{
		margin-left: 50px;
	}
	
	#dotsss{
		margin-left: 50px;
	}
	.social{
		margin-top: 0vw;
		margin-left: 8vw;
		margin-bottom: 5vw;
	}
	
	#social1 a{
		display: flow-root;
		margin-left: 1vw;
		width: 27vw;
		margin-top: 2vw;
	}
	#social2 a{
		display: flow-root;
		margin-left: 1vw;
		width: 27vw;
		margin-top: 2vw;
	}
	#social3 a{
		display: flow-root;
		margin-left: 1vw;
		width: 25vw;
		margin-top: 2vw;
	}
}
@media (min-width: 331px) and (max-width: 359px) {
	.dropdown-content {
		display: inline-flex;
	}
	.dropdown-content a {
		display: flex;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #f1f1ff;
		color: rgba(0, 0, 0, 0.842);
		padding: 1.67vw;
		text-decoration: none;
		font-weight: bold;
		font-size: 2.5vw;
		min-width: 22.5vw;
	}
	
	.dropdown-content a:hover {background-color: #ddd;}
	
	#logo{
		margin-left: 90.8vw;
		position: absolute;
		width: 8.4vw;
		height: 7.84vw;
	}
	.sum{
		text-align: center;
		color: white;
		font-size: 5vw;
		font-weight: bold;
	}
	
	.column{
		margin-left: 90px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	
	.next {
		  right: 25vw;
		  border-radius: 0.67vw 0 0 0.67vw;
	}
	
	#imag {
		width: 50vw;
		height: 50vw;
	  }
	
	#imag{
		background-color: whitesmoke;
		border: 2px solid #34495e;
		padding: 5px;
		text-align: center;
		border-radius: 15px; 
		-moz-box-shadow: 0 0 50px #3498db;
		-webkit-box-shadow: 0 0 50px #3498db;
		box-shadow: 0 0 30px #3498db;
	}
	
	/* Caption text */
	.text {
		  color: #f2f2f2;
		  font-size: 2.5vw;
		  padding: 1.4vw 2vw;
		  position: absolute;
		  bottom: 1.4vw;
		  width: 50vw;
		  text-align: center;
		font-weight: bold;
		background-color: rgba(0,0,0,0.5);
		  border-radius: 0.84vw;
	}
	
	h4{
		margin-left: 20vw;
		margin-bottom: 3vw;
		margin-top: 0vw;
		padding: 0vw;
		font-size: 3vw;
		font-weight: bolder;
	}
	
	#dot{
		margin-left: 50px;
	}
	
	#dotss{
		margin-left: 50px;
	}
	
	#dotsss{
		margin-left: 50px;
	}
	.social{
		margin-top: 0vw;
		margin-left: 8vw;
		margin-bottom: 5vw;
	}
	
	#social1 a{
		display: flow-root;
		margin-left: 1vw;
		width: 27vw;
		margin-top: 2vw;
	}
	#social2 a{
		display: flow-root;
		margin-left: 1vw;
		width: 27vw;
		margin-top: 2vw;
	}
	#social3 a{
		display: flow-root;
		margin-left: 1vw;
		width: 25vw;
		margin-top: 2vw;
	}
}
@media (min-width: 360px) and (max-width: 420px) {
	.dropdown-content {
		display: inline-flex;
	}
	.dropdown-content a {
		display: flex;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #f1f1ff;
		color: rgba(0, 0, 0, 0.842);
		padding: 1.67vw;
		text-decoration: none;
		font-weight: bold;
		font-size: 2.5vw;
		min-width: 22.5vw;
	}
	
	.dropdown-content a:hover {background-color: #ddd;}
	
	#logo{
		margin-left: 90.8vw;
		position: absolute;
		width: 8.4vw;
		height: 7.84vw;
	}
	.sum{
		text-align: center;
		color: white;
		font-size: 5vw;
		font-weight: bold;
	}
	
	.column{
		margin-left: 105px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	
	.next {
		  right: 24vw;
		  border-radius: 0.67vw 0 0 0.67vw;
	}
	
	#imag {
		width: 50vw;
		height: 50vw;
	  }
	
	#imag{
		background-color: whitesmoke;
		border: 2px solid #34495e;
		padding: 5px;
		text-align: center;
		border-radius: 15px; 
		-moz-box-shadow: 0 0 50px #3498db;
		-webkit-box-shadow: 0 0 50px #3498db;
		box-shadow: 0 0 30px #3498db;
	}
	
	/* Caption text */
	.text {
		  color: #f2f2f2;
		  font-size: 2.5vw;
		  padding: 1.4vw 2vw;
		  position: absolute;
		  bottom: 1.4vw;
		  width: 50vw;
		  text-align: center;
		font-weight: bold;
		background-color: rgba(0,0,0,0.5);
		  border-radius: 0.84vw;
	}
	
	h4{
		margin-left: 20vw;
		margin-bottom: 3vw;
		margin-top: 0vw;
		padding: 0vw;
		font-size: 3vw;
		font-weight: bolder;
	}
	
	#dot{
		margin-left: 70px;
	}
	
	#dotss{
		margin-left: 70px;
	}
	
	#dotsss{
		margin-left: 70px;
	}
	.social{
		margin-top: 0vw;
		margin-left: 8vw;
		margin-bottom: 5vw;
	}
	
	#social1 a{
		display: flow-root;
		margin-left: 1vw;
		width: 22vw;
		margin-top: 2vw;
	}
	#social2 a{
		display: flow-root;
		margin-left: 1vw;
		width: 22vw;
		margin-top: 2vw;
	}
	#social3 a{
		display: flow-root;
		margin-left: 1vw;
		width: 20vw;
		margin-top: 2vw;
	}
}
@media (min-width: 421px) and (max-width: 470px) {
	.dropdown-content {
		display: inline-flex;
	}
	.dropdown-content a {
		display: flex;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #f1f1ff;
		color: rgba(0, 0, 0, 0.842);
		padding: 1.67vw;
		text-decoration: none;
		font-weight: bold;
		font-size: 2.5vw;
		min-width: 22.5vw;
	}
	
	.dropdown-content a:hover {background-color: #ddd;}
	
	#logo{
		margin-left: 90.8vw;
		position: absolute;
		width: 8.4vw;
		height: 7.84vw;
	}
	.sum{
		text-align: center;
		color: white;
		font-size: 5vw;
		font-weight: bold;
	}
	
	.column{
		margin-left: 120px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.next {
		  right: 23vw;
		  border-radius: 0.67vw 0 0 0.67vw;
	}
	
	#imag {
		width: 50vw;
		height: 50vw;
	  }
	
	#imag{
		background-color: whitesmoke;
		border: 2px solid #34495e;
		padding: 5px;
		text-align: center;
		border-radius: 15px; 
		-moz-box-shadow: 0 0 50px #3498db;
		-webkit-box-shadow: 0 0 50px #3498db;
		box-shadow: 0 0 30px #3498db;
	}
	
	/* Caption text */
	.text {
		  color: #f2f2f2;
		  font-size: 2.5vw;
		  padding: 1.4vw 2vw;
		  position: absolute;
		  bottom: 1.4vw;
		  width: 50vw;
		  text-align: center;
		font-weight: bold;
		background-color: rgba(0,0,0,0.5);
		  border-radius: 0.84vw;
	}
	
	h4{
		margin-left: 20vw;
		margin-bottom: 3vw;
		margin-top: 0vw;
		padding: 0vw;
		font-size: 3vw;
		font-weight: bolder;
	}
	
	#dot{
		margin-left: 90px;
	}
	
	#dotss{
		margin-left: 90px;
	}
	
	#dotsss{
		margin-left: 90px;
	}
	.social{
		margin-top: 0vw;
		margin-left: 8vw;
		margin-bottom: 5vw;
	}
	
	#social1 a{
		display: flow-root;
		margin-left: 1vw;
		width: 20vw;
		margin-top: 2vw;
	}
	#social2 a{
		display: flow-root;
		margin-left: 1vw;
		width: 20vw;
		margin-top: 2vw;
	}
	#social3 a{
		display: flow-root;
		margin-left: 1vw;
		width: 17vw;
		margin-top: 2vw;
	}
}
@media (min-width: 471px) and (max-width: 549px) {
	.dropdown-content {
		display: inline-flex;
	}
	.dropdown-content a {
		display: flex;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #f1f1ff;
		color: rgba(0, 0, 0, 0.842);
		padding: 1.67vw;
		text-decoration: none;
		font-weight: bold;
		font-size: 2.5vw;
		min-width: 22.5vw;
	}
	
	.dropdown-content a:hover {background-color: #ddd;}
	
	#logo{
		margin-left: 90.8vw;
		position: absolute;
		width: 8.4vw;
		height: 7.84vw;
	}
	.sum{
		text-align: center;
		color: white;
		font-size: 5vw;
		font-weight: bold;
	}
	
	.column{
		margin-left: 135px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.next {
		  right: 25vw;
		  border-radius: 0.67vw 0 0 0.67vw;
	}
	
	#imag {
		width: 50vw;
		height: 50vw;
	  }
	
	#imag{
		background-color: whitesmoke;
		border: 2px solid #34495e;
		padding: 5px;
		text-align: center;
		border-radius: 15px; 
		-moz-box-shadow: 0 0 50px #3498db;
		-webkit-box-shadow: 0 0 50px #3498db;
		box-shadow: 0 0 30px #3498db;
	}
	
	/* Caption text */
	.text {
		  color: #f2f2f2;
		  font-size: 2.5vw;
		  padding: 1.4vw 2vw;
		  position: absolute;
		  bottom: 1.4vw;
		  width: 50vw;
		  text-align: center;
		font-weight: bold;
		background-color: rgba(0,0,0,0.5);
		  border-radius: 0.84vw;
	}
	
	h4{
		margin-left: 20vw;
		margin-bottom: 3vw;
		margin-top: 0vw;
		padding: 0vw;
		font-size: 3vw;
		font-weight: bolder;
	}
	
	#dot{
		margin-left: 105px;
	}
	
	#dotss{
		margin-left: 110px;
	}
	
	#dotsss{
		margin-left: 110px;
	}
	.social{
		margin-top: 0vw;
		margin-left: 8vw;
		margin-bottom: 5vw;
	}
	
	#social1 a{
		display: flow-root;
		margin-left: 1vw;
		width: 17vw;
		margin-top: 2vw;
	}
	#social2 a{
		display: flow-root;
		margin-left: 1vw;
		width: 17vw;
		margin-top: 2vw;
	}
	#social3 a{
		display: flow-root;
		margin-left: 1vw;
		width: 15vw;
		margin-top: 2vw;
	}
}
@media (min-width: 550px) and (max-width: 600px) {

.dropdown-content {
	display: inline-flex;
}
.dropdown-content a {
	display: flex;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #f1f1ff;
	color: rgba(0, 0, 0, 0.842);
	padding: 1.67vw;
	text-decoration: none;
	font-weight: bold;
	font-size: 2.5vw;
	min-width: 22.5vw;
}

.dropdown-content a:hover {background-color: #ddd;}

#logo{
	margin-left: 90.8vw;
	position: absolute;
	width: 8.4vw;
	height: 7.84vw;
}
.sum{
	text-align: center;
	color: white;
	font-size: 5vw;
	font-weight: bold;
}

.column{
	margin-left: 135px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.next {
  	right: 27vw;
  	border-radius: 0.67vw 0 0 0.67vw;
}

#imag {
	width: 50vw;
	height: 50vw;
  }

#imag{
    background-color: whitesmoke;
    border: 2px solid #34495e;
    padding: 5px;
    text-align: center;
    border-radius: 15px; 
    -moz-box-shadow: 0 0 50px #3498db;
    -webkit-box-shadow: 0 0 50px #3498db;
    box-shadow: 0 0 30px #3498db;
}

/* Caption text */
.text {
  	color: #f2f2f2;
  	font-size: 2.5vw;
  	padding: 1.4vw 2vw;
  	position: absolute;
  	bottom: 1.4vw;
  	width: 50vw;
  	text-align: center;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
  	border-radius: 0.84vw;
}

h4{
	margin-left: 20vw;
	margin-bottom: 3vw;
	margin-top: 0vw;
	padding: 0vw;
	font-size: 3vw;
	font-weight: bolder;
}

#dot{
	margin-left: 110px;
}

#dotss{
	margin-left: 110px;
}

#dotsss{
	margin-left: 110px;
}
.social{
    margin-top: 0vw;
    margin-left: 8vw;
    margin-bottom: 5vw;
}

#social1 a{
	display: flow-root;
	margin-left: 1vw;
	width: 15vw;
	margin-top: 2vw;
}
#social2 a{
	display: flow-root;
	margin-left: 1vw;
	width: 15vw;
	margin-top: 2vw;
}
#social3 a{
	display: flow-root;
	margin-left: 1vw;
	width: 15vw;
	margin-top: 2vw;
}

}

@media (min-width:601px) and (max-width: 768px) {
body{
	font-size: 1vw;
}
.dropdown-content {
	display: inline-flex;
}	
.dropdown-content a {
	display: flex;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #f1f1ff;
	color: rgba(0, 0, 0, 0.842);
	padding: 1.67vw;
	text-decoration: none;
	font-weight: bold;
	font-size: 2.5vw;
	min-width: 22.5vw;
}
	
.dropdown-content a:hover {background-color: #ddd;}
	
#logo{
	margin-left: 90.8vw;
	position: absolute;
	width: 8.4vw;
	height: 7.84vw;
}
.sum{
	text-align: center;
	color: white;
	font-size: 7vw;
	font-weight: bold;
}
	
.column{
	margin-left: 15vw;
	margin-top: 2.7vw;
	margin-bottom: 2.7vw;
	display: flow-root;
}
	
.next {
	right: 15vw;
	border-radius: 4px 0 0 4px;
}
#imag {
    width: 70vw;
	height: 70vw;
}

#imag{
	background-color: whitesmoke;
	border: 2px solid #34495e;
	padding: 5px;
	text-align: center;
	border-radius: 15px; 
	-moz-box-shadow: 0 0 50px #3498db;
	-webkit-box-shadow: 0 0 50px #3498db;
	box-shadow: 0 0 30px #3498db;
}
.scroll{
	margin-left: 20px;
	margin-right: 20px;	
}
	/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 2.5vw;
	padding: 1.4vw 2vw;
	position: absolute;
	bottom: 1.4vw;
	width: 70vw;
	text-align: center;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0.84vw;
}
	
h4{
	margin-left: 25vw;
	margin-top: 0vw;
	padding: 0vw;
	/*text-align: center;*/
	font-size: 5vw;
}
	
#dot{
	margin-left: 30vw;
}
	
#dotss{
	margin-left: 30vw;
}
	
#dotsss{
	margin-left: 30vw;
}
.social{
	margin-top: 0vw;
	margin-left: 8vw;
	margin-bottom: 5vw;
}
	
#social1 a{
	display: flow-root;
	margin-left: 1vw;
	width: 13vw;
	margin-top: 2vw;
}
#social2 a{
	display: flow-root;
	margin-left: 1vw;
	width: 13vw;
	margin-top: 2vw;
}
#social3 a{
	display: flow-root;
	margin-left: 1vw;
	width: 12vw;
	margin-top: 2vw;
}
}

@media (min-width: 769px) and (max-width: 992px) {
body{
	font-size: 3vw;
}
.dropdown-content {
display: inline-flex;
}	
.dropdown-content a {
	display: flex;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #f1f1ff;
	color: rgba(0, 0, 0, 0.842);
	padding: 1.67vw;
	text-decoration: none;
	font-weight: bold;
	font-size: 2.5vw;
	min-width: 22.5vw;
}
	
.dropdown-content a:hover {background-color: #ddd;}
	
#logo{
	margin-left: 90.8vw;
	position: absolute;
	width: 8.4vw;
	height: 7.84vw;
}
.sum{
	text-align: center;
	color: white;
	font-size: 7vw;
	font-weight: bold;
}
	
.column{
	margin-left: 15px;
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 20px;
	display: inline-flex;
	position: relative;
}
	
.next {
	right: 0;
	border-radius: 4px 0 0 4px;
}
img {
	width: 30vw;
	height: 30vh;
}
	
#imag{
	/*background-color: whitesmoke;*/
	border: 2px solid #34495e;
	/*padding: 5px;*/
	text-align: center;
	border-radius: 15px; 
	-moz-box-shadow: 0 0 50px #3498db;
	-webkit-box-shadow: 0 0 50px #3498db;
	box-shadow: 0 0 30px #3498db;
}
.scroll{
	margin-left: 10px;
	margin-right: 10px;	
}
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
}
	
h4{
	margin-left: 0vw;
	padding: 0vw;
	text-align: center;
	font-size: 3vw;
}
	
#dot{
	padding-left: 12vw;
}
	
#dotss{
	padding-left: 12vw;
}
	
#dotsss{
	padding-left: 12vw;
}
.social{
	margin-top: 0vw;
	margin-left: 8vw;
	margin-bottom: 5vw;
}
	
#social1 a{
	display: flow-root;
	margin-left: 1vw;
	width: 10vw;
	margin-top: 2vw;
}
#social2 a{
	display: flow-root;
	margin-left: 1vw;
	width: 10vw;
	margin-top: 2vw;
}
#social3 a{
	display: flow-root;
	margin-left: 1vw;
	width: 9vw;
	margin-top: 2vw;
}

}

@media (min-width: 1200px) {}

@media (min-width: 993px) {

.dropdown {
	top:0;
	width: 100%;
	position: fixed;
}

.dropdown-content {
	display: inline-flex;
	padding-left: 430px;
	position: absolute;
	background-color: #f1f1ff;
	min-width: 1500px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 15px;
	text-decoration: none;
	display: absolute;
}
.dropdown-content a:hover {background-color: #ddd;}
	
#logo{
	cursor: pointer;
	margin-left: 470px;
	height:50px;
	width:50px;
}
	/*........................................................^MENU.........................................................*/
	
.sum{
	padding-top: 50px;
	text-align: center;
	color: white
}

img {
	max-width: 100%;
	height: auto;
}

.column{
	margin-left: 8px;
	margin-top: 20px;
	margin-right: 8px;
	margin-bottom: 20px;
	display: inline-flex;
	position: relative;
}

#imag{
	background-color: whitesmoke;
	border: 2px solid #34495e;
	padding: 5px;
	text-align: center;
	border-radius: 15px; 
	-moz-box-shadow: 0 0 50px #3498db;
	-webkit-box-shadow: 0 0 50px #3498db;
	box-shadow: 0 0 30px #3498db;
}
	
.scroll{
	margin-left: 20px;
	margin-right: 20px;	
}
	/* Position the "next button" to the right */
.next {
  	right: 0;
  	border-radius: 4px 0 0 4px;
}

	/* Caption text */
.text {
  	color: #f2f2f2;
  	font-size: 15px;
  	padding: 8px 12px;
  	position: absolute;
  	bottom: 8px;
  	width: 100%;
  	text-align: center;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
  	border-radius: 5px;
}

h4 {
	text-align: center;
}

#dot{
	text-align:center
}
	
#dotss{
	text-align:center	
}
	
#dotsss{
	text-align:center
}
.social{
	padding-top: 20px;
	margin-left: 50px;
	margin-bottom: 100px;
}

}

body {
	font-size: 16px;
	line-height: 1.5;
  	font-family: calibri;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../pictures/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*....................................................^WELCOME HOME......................................................*/

.mySlides {display: none;}
.mySlidess {display: none;}

.slideshow-container {
  	max-width: 1000px;
  	position: relative;
 	margin: auto;
}
.prev, .next {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	padding: 16px;
  	margin-top: -22px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 4px 4px 0;
  	user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.7);
}

/* Number text (1/3 etc) */
.numbertext {
	font-weight: bold;
  	color: #f2f2f2;
  	font-size: 12px;
  	padding: 8px 12px;
  	position: absolute;
  	top: 0;
  	background-color: rgba(0,0,0,0.5);
  	border-radius: 15px 0 0 5px;
}
h4{
	color: white;
}
/* The dots/bullets/indicators */
.dot {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}
.dotss {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}
.dotsss {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}
.active, .dot:hover {
  	background-color: #717171;
}
.active, .dotss:hover {
  	background-color: #717171;
}
.active, .dotsss:hover {
  	background-color: #717171;
}
/* Fading animation */
.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  	from {opacity: .4} 
  	to {opacity: 1}
}
@keyframes fade {
  	from {opacity: .4} 
  	to {opacity: 1}
}

/*........................................................^IMAGE SIDE...........................................................*/

.about-section {
  	padding: 50px;
  	text-align: center;
  	background-color: #474e5d;
  	background-size: cover;
  	color: white;
  	border-radius: 5px;
}
/*................................................................^ABOUT US.................................................*/
hr.solid {
  	border-top: 3px solid #bbb;
}
.cont {
  	border-radius: 5px;
  	background-color: #474e5d;
  	background-size: cover;
  	padding: 20px;
}
input[type=text], select, textarea {
  	width: 100%;
  	padding: 10px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 15px;
  	resize: vertical;
}
input[type=submit] {
  	background-color: #4CAF50;
  	color: white;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}
input[type=submit]:hover {
  	background-color: #45a049;
}

.fa {
  	border-radius: 5px;
  	padding: 5px;
  	font-size: 15px;
  	text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  	background: #3B5998;
  	color: white;
}
.fa-twitter {
  	background: #55ACEE;
  	color: white;
}
.fa-instagram {
  	background: red;
  	color: white;
}
.fa-whatsapp {
  	background: violet;
  	color: white;
}
.fa-mobile {
  	background: green;
  	color: white;
}
.med {
  	color: white;
  	float: left;
  	width: 50%;
  	margin-top: 6px;
  	padding: 20px;
}
/* Clear floats after the columns */
.row:after {
  	content: "";
  	display: table;
  	clear: both;
}
/*................................................^CONTACT US.............................................................*/
